

.tallies {
    display:flex;
    height:300px;
    width: 300px;
}

.player-container {
    width: 150px;
    height: 150px;
}

.name {
    width: 150px;
    height: 30px;
    text-align: center;
    background:lightgrey;
}

.tally-box {
    width: 142px;
    height: 120px;
    padding: 4px;
    border-style:solid;
    border-color:lightslategray;
    border-radius:5%;
}

.grid-box {
    border-style:outset;
}

.row {
  width:100%;
  display:flex;
  text-align:center;
  line-height:100px;

}

.x1 {
    width:100px;
    height: 100px;
}
.x2 {
    width:100px;
    height: 100px;
}
.x3 {
    width:100px;
    height: 100px;
}

.x1:hover {
    background-color:lightgray;
}
.x2:hover {
    background-color:lightgray;
}
.x3:hover {
    background-color:lightgray;
}
